
body{
  background-color: darkgray;
}

h1{
  color: #fff;
  padding-left: 30px;
}

.slider{
  height: 400px;
  width: 650px;
  margin: 20px 30px 60px 30px;
}

p {
  color: #fff;
  line-height: 0.8em;
  padding-left: 30px;
}



